.navbar__container.w-100.d-flex.justify-content-between.align-items-middle
  .navbar__logo
    = image_tag('ramenlogo.png')
  .navbar__navigation-container
    %box-icon{ name: 'menu', size: '48px' }
