.restaurant-item{ role: 'button',
  data: {
    restaurant_id: restaurant.id,
    restaurant_name: restaurant.name,
    action: 'click->ramen-reviews--form#selectRestaurant'
  }
}
  = turbo_frame_tag :selected_restaurant do
    .restaurant-search-result__info.is-selected
      .restaurant-search-result__name= restaurant.name
      .restaurant-search-result__name-jp= restaurant.jpn_name
      .restaurant-search-result__details
        = [restaurant.station, restaurant.prefecture].compact.join(' • ')
