.review-card__container.mb-6
  .swiper{ data: { controller: 'swiper', swiper_target: 'swiper' } }
    .swiper-wrapper
      - ramen_review.review_images.each do |review_image|
        .swiper-slide
          = image_tag(review_image.image)
    .swiper-pagination{ data: { swiper_target: 'pagination' } }
  .review-card__content.pl-4.pr-4
    .d-flex.justify-content-between.align-items-center
      %box-icon{ name: 'heart' }
      .d-flex.align-items-center
        - score = ramen_review.score
        %p.review-card__score= score
        - review_card_score_stars(score).each do |star|
          %box-icon{ name: star[:name], type: star[:type], color: star[:color] }
    %div= ramen_review.restaurant.name
    %div= ramen_review.restaurant.jpn_name
