.ramen-reviews__header-container
  .ramen-reviews__header-content
    %h1.ramen-reviews__title Edit Your Review
    %p.ramen-reviews__subtitle Update your dining experience details
    .ramen-reviews__decorative-bars
      .ramen-reviews__bar.ramen-reviews__bar.is-small
      .ramen-reviews__bar.ramen-reviews__bar.is-large
      .ramen-reviews__bar.ramen-reviews__bar.is-small
= render 'form'
