$_base-unit: 4px;

@for $i from 1 through 24 {
  .m-#{$i * 4} {
    padding: $i * $_base-unit !important;
  }

  .mt-#{$i * 4} {
    margin-top: $i * $_base-unit !important;
  }

  .mr-#{$i * 4} {
    margin-right: $i * $_base-unit !important;
  }

  .mb-#{$i * 4} {
    margin-bottom: $i * $_base-unit !important;
  }

  .ml-#{$i * 4} {
    margin-left: $i * $_base-unit !important;
  }

  .p-#{$i * 4} {
    padding: $i * $_base-unit !important;
  }

  .pt-#{$i * 4} {
    padding-top: $i * $_base-unit !important;
  }

  .pr-#{$i * 4} {
    padding-right: $i * $_base-unit !important;
  }

  .pb-#{$i * 4} {
    padding-bottom: $i * $_base-unit !important;
  }

  .pl-#{$i * 4} {
    padding-left: $i * $_base-unit !important;
  }
}

@for $i from 1 through 10 {
  .w-#{$i} {
    width: $i * 10% !important;
  }
}

@for $i from 1 through 10 {
  .w-#{$i} {
    height: $i * 10% !important;
  }
}

@for $i from 1 through 8 {
  .gap-#{i} {
    gap: $i * $_base_unit !important;
  }
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.is-hidden {
  display: none;
}
