.restaurant-card__link {
  text-decoration: none;
  color: initial;
}

.restaurant-card__container {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 0;
  border-bottom: 1px solid $_border-light-gray;
  &:hover {
    cursor: pointer;
    .restaurant-card__title {
      color: $_link-hover-yellow;
    }
  }
}

.restaurant-card__title {
  font-weight: 600;
  &-jpn{
    font-size: 16px;
  }
}

.restaurant-card__info {
  display: flex;
  gap: 8px;
  color: $_color-light-gray;
}

.restaurant-card__score {
  padding-left: 8px;
  font-size: 18px;
  font-weight: 600;
}

.restaurant-card__images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.restaurant-card__reviews-link {
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 4px;
  color: inherit;
  &:hover {
    color: $_link-hover-yellow
  }
}

.restaurant-card__bookmark {
  margin-left: auto;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    fill: $_link-hover-yellow;
  }
  .is-favorited {
    color: $_color-selected-yellow;
  }
}

.restaurant-card__days-closed-text {
  padding-left: 4px;
  font-size: 12px;
}
