.ramen-reviews__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  @include mediaquery-mobile {
    display: block;
  }
}

.ramen-reviews__selected-restauarant {
  border: solid 1px $_link-hover-yellow;
  margin-top: 4px;
}
