.review-card__container {
  padding: 16px;
  max-width: 448px;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 4/5;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    .review-card__name-en {
      color: $_link-hover-yellow;
    }
  }
}

.review-card__content {
  padding: 16px 16px 0 16px;
}

.review-card__score {
  margin: 0;
  font-weight: 500;
}

.review-card__name-en {
  font-weight: 600;
}

.review-card__name-jp {
  font-weight: 300;
  font-size: 14px;
}

.review-card__footer {
  display: flex;
  align-items: center;
  span {
    margin-right: 8px;
  }
}

.review-card__icon {
  font-size: 14px;
  font-weight: 500;
  background: #F2F4F7;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
}

.review-card__created-at {
  font-size: 14px;
  font-weight: 300;
  margin-left: auto;
}
